@model ticketTracker.Models.tblOpenTicket
@{
    ViewBag.Title = "testHide";
}

<h2>testHide</h2>


<br /><br />
<p class="hide">Hello Admin!</p>
<br /><br />
<p>Hello User!</p>
<br />
<br />


@if (7 == 7)
{<p>This code works</p> }
else
{
    <p hidden>This is the conditional data to display</p>
    
}

<br />
<br />


